/* Utilities */ /* normal Style */
/* Base */
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
} /* Layouts*/
header {
  background-color: #d7343b;
}
header ul {
  background-color: #162225;
  list-style: none;
  margin: 0;
  padding: 0;
}
header ul li {
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
  font-size: clamp(1rem, 0.7572815534rem + 1.0355987055vw, 2rem);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition-duration: 0.5s;
}
header ul li a {
  text-decoration: none;
  color: #f2f2f4;
}
header ul li:hover,
header ul li .dropdown-content a:hover {
  background-color: #f2f2f4;
  color: #162225;
  transition: all 0.5s;
}
header ul li:hover > *,
header ul li:hover div.dropdown > *,
header ul li .dropdown-content a:hover > *,
header ul li .dropdown-content a:hover div.dropdown > * {
  color: inherit;
  transition: all 0.5s;
}
header a > img {
  position: relative;
  top: 0;
  left: 15px;
  height: 7.5rem;
  width: 15rem;
  image-rendering: optimizeSpeed;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
  margin: 0;
}

/* Modules or Components */
.dropdown {
  position: relative;
  display: inline-block;
  cursor: default;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #162225;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
  z-index: 1;
  left: -0.5rem;
}
.dropdown .dropdown-content a {
  box-sizing: border-box;
  padding: 5px;
}
.dropdown:hover .dropdown-content,
.dropdown:hover a {
  display: block;
}

div#card {
  aspect-ratio: 2/3;
  width: 15.625em;
  box-sizing: border-box;
  padding: 10px;
  background-color: #f2f2f4;
  border: 1px solid #162225;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  font-family: "VT323", monospace;
  /* Buttons */
}
div#card .pokemon {
  position: relative;
  height: 14.375em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
div#card .pokemon > img {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
  aspect-ratio: 1/1;
  width: 14.375em;
}
div#card .pokemon .pokedata {
  max-height: 1em;
  position: absolute;
  float: left;
  top: 0.25em;
  left: 0.5em;
}
div#card .pokemon .pokedata > img {
  aspect-ratio: 1/1;
  height: 2em;
  vertical-align: middle;
  padding-right: 0.5em;
}
div#card .pokemon .pokedata > span {
  padding-right: 0.25em;
  text-transform: capitalize;
  font-weight: 600;
}
div#card .pokemon .pokedata > span:last-of-type {
  letter-spacing: 1px;
}
div#card .options {
  min-width: 14.375em;
  max-width: 14.5em;
  height: 2em;
  margin: 0 auto 0.5em auto;
}
div#card .options button {
  width: 33%;
  height: 2em;
  border: 0;
  margin: 0;
  padding: 0 5px 0 5px;
}
div#card .options button:nth-child(1) {
  border-bottom-left-radius: 2em;
}
div#card .options button:nth-child(3) {
  border-bottom-right-radius: 2em;
}
div#card .options button:hover {
  filter: brightness(75%);
}
div#card #CardSections {
  min-height: 6.25em;
  max-height: 6.25em;
  /* About section */
  /* Stats section */
  /* Moves section */
}
div#card #CardSections .hidden {
  display: none;
}
div#card #CardSections .about {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  place-items: center;
}
div#card #CardSections .about .height {
  grid-area: 1/1/2/2;
}
div#card #CardSections .about .height-data {
  grid-area: 1/2/2/4;
}
div#card #CardSections .about .weight {
  grid-area: 2/1/3/2;
}
div#card #CardSections .about .weight-data {
  grid-area: 2/2/3/4;
}
div#card #CardSections .about .types {
  grid-area: 3/1/4/2;
}
div#card #CardSections .about .height,
div#card #CardSections .about .weight,
div#card #CardSections .about .types {
  font-weight: 600;
  max-height: 1.5em;
}
div#card #CardSections .about .type-0 {
  grid-area: 3/2/4/3;
}
div#card #CardSections .about .type-1 {
  grid-area: 3/3/4/4;
}
div#card #CardSections .about .type-0,
div#card #CardSections .about .type-1 {
  display: flex;
}
div#card #CardSections .about .type-0 img,
div#card #CardSections .about .type-1 img {
  height: 1em;
  width: auto;
  padding: 5px;
  border-radius: 1em;
}
div#card #CardSections .about .types {
  max-height: 1.5em;
}
div#card #CardSections .stats {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
div#card #CardSections .stats > div {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: small;
  background-color: #c9c9d1;
  border-radius: 15px;
}
div#card #CardSections .stats > div > span {
  grid-area: 1/1/2/2;
  box-sizing: border-box;
  padding-left: 0.4em;
}
div#card #CardSections .stats > div > .__bar {
  grid-area: 1/2/2/3;
  border-radius: 1em;
  text-align: end;
  padding-right: 0.4em;
  position: relative;
}
div#card #CardSections .stats > div > .__bar.hp {
  background-color: #FF5A59;
}
div#card #CardSections .stats > div > .__bar.atk {
  background-color: #FFAD76;
}
div#card #CardSections .stats > div > .__bar.def {
  background-color: #FFF947;
}
div#card #CardSections .stats > div > .__bar.satk {
  background-color: #92B8F7;
}
div#card #CardSections .stats > div > .__bar.sdef {
  background-color: #8DDB8A;
}
div#card #CardSections .stats > div > .__bar.spd {
  background-color: #FF97B4;
}
div#card #CardSections .stats > div > .data {
  grid-area: 1/3/2/4;
}
div#card #CardSections .moves {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
div#card #CardSections .moves .move-1,
div#card #CardSections .moves .move-2,
div#card #CardSections .moves .move-3,
div#card #CardSections .moves .move-4 {
  display: grid;
  place-items: center;
  border: 1px solid black;
  border-radius: 0.5em;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  box-sizing: border-box;
  padding: 0.1em;
  text-transform: capitalize;
}
div#card #CardSections .moves .move-1:hover,
div#card #CardSections .moves .move-2:hover,
div#card #CardSections .moves .move-3:hover,
div#card #CardSections .moves .move-4:hover {
  background-color: #c9c9d1;
}
div#card #CardSections .moves .move-1:active,
div#card #CardSections .moves .move-2:active,
div#card #CardSections .moves .move-3:active,
div#card #CardSections .moves .move-4:active {
  background-color: #d7343b;
}
div#card #CardSections .moves .move-1 {
  grid-area: 1/1/2/2;
}
div#card #CardSections .moves .move-2 {
  grid-area: 1/2/2/3;
}
div#card #CardSections .moves .move-3 {
  grid-area: 2/1/3/2;
}
div#card #CardSections .moves .move-4 {
  grid-area: 2/2/3/3;
}

/* Pokemon Colors */
.normal {
  background-color: #A8A77A;
}

.fire {
  background-color: #EE8130;
}

.water {
  background-color: #6390F0;
}

.electric {
  background-color: #F7D02C;
}

.grass {
  background-color: #7AC74C;
}

.ice {
  background-color: #96D9D6;
}

.fighting {
  background-color: #C22E28;
}

.poison {
  background-color: #A33EA1;
}

.ground {
  background-color: #E2BF65;
}

.flying,
.bird {
  background-color: #A98FF3;
}

.psychic {
  background-color: #F95587;
}

.bug {
  background-color: #A6B91A;
}

.rock {
  background-color: #B6A136;
}

.ghost {
  background-color: #735797;
}

.dragon {
  background-color: #6F35FC;
}

.dark {
  background-color: #705746;
}

.steel {
  background-color: #B7B7CE;
}

.fairy {
  background-color: #D685AD;
}

/* Pages */
#cardView {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15.75em);
  align-self: center;
  gap: 5px 15px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}/*# sourceMappingURL=Main.css.map */